body {
    margin: 0;
    padding: 0;
}

.headerBar {
    background: black;
    width: 100%;
    height: 60px;
    line-height: 60px;
    display: inline-block;
}

.headerTitle {
    color: white;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    padding: 0;
    padding-left: 20px;

    font-size: 20px;
    font-weight: bold;
}

.burgerImg {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 60px;
    height: 40px;
}

.burgerImg:hover {
    cursor: pointer;
}


.tabMenu {
    border: 1px solid black;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    width: 100%;
}

.tabList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.tabItem {
    float: left;
}

.tabItem a {
    display: block;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;

}

.tabItem a:hover:not(.active) {
    color: lightgray;
}

.active {
    color: lightgray;
}

.inactive {
    color: black;
}


.middle-content {
    width: 100%;
    height: 100%;
    margin-top: 25px;
}

.img-holder {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 337px;
    height: 277px;
}

.button-container {
    margin-top: 25px;
}

.takePicBtn {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #41aff4;
    float: right;
    margin-right: 25px;
}



/* CSS for the Index-nd.HTML file */

.picturebutton {

    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px black;
    display: inline-block;
    font-size: 16px;
    font-variant: small-caps;
    margin: 4px 2px;
    cursor: pointer;

}

.picturebutton:hover {
    background-color: #685a8b;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);


}


.makerow {

    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px black;
    display: inline-block;
    font-size: 16px;
    font-variant: small-caps;
    margin: 4px 2px;
    cursor: pointer;



}

.makerow:hover {
    background-color: #685a8b;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}

.backgroundcolor {background-color: #1C5299;} /* Blue */
.backgroundcolor1{background-color: #1C5299;}

.BackgroundColor {
    background-color: #6492E8;
}

#testPhoto {
    border-radius: 10px;
}


/* CSS for the TakePicture.HTML file */

#startinfo {
    font-variant: small-caps;
    font-size: 36px;
    text-align: center;
    text-shadow: 1px 1px black;
    color: darkblue;
}


#TakePictureBody {
    background-color: #6492E8;
}

